.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: $md5) {
			gap: 0.75rem;
		}
	}
	// .pagination__link
	&__link {
		width: rem(60);
		height: rem(60);
		font-size: rem(14);
		font-weight: 500;
		line-height: 150%;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f5f5f5;
		transition: background-color 0.3s ease 0s;
		&.active {
			background: #d7b65d;
			color: #192026;
			pointer-events: none;
		}
		&[href] {
			@media (any-hover: hover) {
				&:hover {
					background: #192026;
					color: #fff;
				}
			}
		}
	}
	// .pagination__next
	&__next,
	&__prev {
		@extend .pagination__link;
		& span {
			display: none;
			@media (min-width: $md4) {
				display: inline;
			}
		}
		&[aria-disabled="true"] {
			pointer-events: none;
			user-select: none;
			opacity: 0.3;
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	&__prev {
		&::before {
			transform: rotate(180deg);
		}
	}
	&__next {
	}
}
