.article {
	padding: rem(80) 0 rem(90);
	@media (min-width: $md3) {
		padding: rem(100) 0 rem(120);
	}
	h1 {
		@extend .title-xl;
	}
	h2 {
		@extend .title-lg;
		&:not(:first-child) {
			margin-top: 80px;
		}
		margin-bottom: 16px;
	}
	h3 {
		@extend .title;
		&:not(:first-child) {
			margin-top: 64px;
		}
		margin-bottom: 16px;
	}
	h4 {
		@extend .title-md;
		&:not(:first-child) {
			margin-top: 42px;
		}
		margin-bottom: 16px;
	}
	h5 {
		@extend .title-sm;
		&:not(:first-child) {
			margin-top: 32px;
		}
		margin-bottom: 16px;
	}
	p {
		font-size: 18px;
		line-height: 170%;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		& + ul {
			margin-top: -10px;
		}
	}
	ul {
		line-height: 170%;
		padding-left: 40px;
		list-style: disc;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		& li {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}
	ol {
		line-height: 170%;
		padding-left: 30px;
		list-style: decimal;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		& li {
			padding-left: 10px;
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}
	& img {
		width: 100%;
		max-width: 100%;
		&:not(:first-child) {
			margin-top: 16px;
		}
		& + img {
			&:not(:first-child) {
				margin-top: rem(60);
			}
		}
	}
	blockquote {
		&::before {
			@extend %ic, .icon-quotes;
		}
		@extend .driver__desc;
		padding: 40px 15px 60px;
		@media (min-width: $md2) {
			padding: 40px 80px 60px;
		}
		& p {
			margin: auto;
			text-align: center;
			font-size: 24px;
			font-style: italic;
		}
		& cite {
			text-align: center;
			font-size: 16px;
			font-weight: 700;
			font-style: normal;
			color: #d7b65d;
		}
	}
}

.gallery {
	margin: 1rem 0;
	display: grid;
	gap: 10px;
	@media (min-width: $md4) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: $md3) {
		grid-template-columns: repeat(3, 1fr);
	}
	&__item {
		&:nth-child(odd):last-child {
			@media (max-width: $md3) {
				grid-column: span 2;
			}
		}
		& img {
			margin: 0 !important;
		}
	}
}
