.promo {
	min-height: rem(1184);
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .promo__slider
	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	// .promo__slide
	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-top: rem(240);
		padding-bottom: rem(500);
		color: #fff;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #192026, $alpha: 0.65);
			z-index: 1;
		}
		&.swiper-slide-visible {
			.promo__background {
				animation: zoomEffect 20s ease-in-out forwards;
			}
			.promo__title {
				opacity: 1;
				transform: translate(0, 0);
				transition: opacity 2s, transform 1.5s;
			}
		}
		@keyframes zoomEffect {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(1.2);
			}
		}
	}
	// .promo__background
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		transform-origin: center;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .promo__title
	&__title {
		position: relative;
		z-index: 3;
		opacity: 0;
		transform: translate(0, -10%);
		transition: opacity 0.5s, transform 1.5s;
	}
	// .promo__services
	&__services {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;

		background-color: rgba(25, 32, 38, 0.7019607843);
		transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding: 3.75rem 0;
	}
	// .promo__services-slider
	&__services-slider {
		position: relative;
	}
	// .promo__service
	&__service {
		display: flex;
		align-items: flex-start;
		gap: rem(35);
		padding: rem(20) rem(40) rem(10) rem(15);
		&:not(:last-child) {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -2px;
				width: 1px;
				height: 100%;
				border-right: 1px dashed rgba(255, 255, 255, 0.3);
			}
		}
	}
	// .promo__service-thumb
	&__service-thumb {
		width: rem(110);
		height: rem(110);
		flex-shrink: 0;
		border-radius: 50%;
		overflow: hidden;
		transition: transform 0.2s ease;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	// .promo__service-body
	&__service-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .promo__service-caption
	&__service-caption {
		color: #d7b65d;
		font-family: $font-stix;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.03125rem;
		display: flex;
		align-items: center;
		transition: color 0.2s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
		&::before {
			@extend %ic, .icon-right;
			order: 1;
			font-size: rem(8);
			margin-left: rem(12);
		}
		& a {
			color: inherit;
		}
	}
	// .promo__service-desc
	&__service-desc {
		color: rgba(255, 255, 255, 0.5);
		font-size: 1rem;
		line-height: 170%;
	}
	// .promo__pagination
	&__pagination {
		&.swiper-pagination {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: rem(80) !important;
			left: auto;
			width: auto;
			bottom: auto;
			display: flex;
			flex-direction: column;
			gap: rem(35);
			.swiper-pagination-bullet {
				position: relative;
				color: #fff;
				background-color: transparent;
				opacity: 1;
				transition: all 0.2s ease;
				width: rem(24);
				height: rem(24);

				border-radius: 0;
				&.swiper-pagination-bullet-active {
					color: #d7b65d;
					&::before {
						transform: translate(-50%, -50%) scale(1) !important;
					}
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: rem(24);
						height: rem(24);
						border-radius: 50%;
						border: rem(1) solid #d7b65d;
					}
				}
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: rem(6);
					height: rem(6);
					border-radius: 50%;
					background-color: currentColor;
					transform-origin: bottom right;
					transform: translate(-50%, -50%);
					transition: transform 0.3s ease;
				}
				@media (any-hover: hover) {
					&:hover {
						&::before {
							transform: scale(2);
						}
						color: #d7b65d;
					}
				}
			}
		}
	}
}

.description {
	padding: 10.3125rem 0 rem(70);
	background: url("@img/about-map.png") center left no-repeat, #fff;
	// .description__body
	&__body {
		display: flex;
		margin: 0 rem(-12.5);
	}
	// .description__main
	&__main {
		width: 33.3%;
		padding: 0 rem(25);
	}
	// .description__title
	&__title {
	}
	// .description__text
	&__text {
		margin-top: 1.2rem;
		font-size: 1rem;
		line-height: 170%;
	}
	// .description__btn
	&__btn {
		margin-top: 2.75rem;
	}
	// .description__image
	&__image {
		width: 66.6%;
		padding: 0 rem(25);
	}
}

.catalog {
	background: #fff;
	color: #192026;
	padding: rem(70) 0 rem(130);
	.row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};
	}
}

.car {
	border: rem(2) solid rgba(0, 0, 0, 0.1);
	padding: 3.88rem;
	display: flex;
	flex-direction: column;

	min-height: 100%;
	// .car__image
	&__image {
	}
	// .car__body
	&__body {
		margin-top: rem(23);
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .car__name
	&__name {
		font-family: $font-stix;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.03125rem;
	}
	// .car__name-link
	&__name-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .car__props
	&__props {
		margin-top: rem(14);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	// .car__props-column
	&__props-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 0.25rem;
		border: rem(2) solid rgba(0, 0, 0, 0.1);
		padding: 0.4rem 0.88rem;
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 194.286%;
	}
	// .car__props-icon
	&__props-icon {
	}
	// .car__props-value
	&__props-value {
	}
	// .car__price
	&__price {
		margin-top: 1.56rem;
		margin-bottom: auto;
	}
	// .car__price-row
	&__price-row {
		display: flex;
		justify-content: space-between;
		font-size: 1rem;
		line-height: 170%;
		border-bottom: rem(1) dashed rgba(0, 0, 0, 0.1);

		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .car__price-time
	&__price-time {
	}
	// .car__price-value
	&__price-value {
		color: #d7b65d;
	}
	// .car__btn
	&__btn {
		margin-top: rem(20);
		min-height: rem(68);
		font-size: rem(18);
	}
}

.comfort {
	padding: rem(130) 0 0 0;
	background: url("@img/about-sky.png") bottom center / cover no-repeat;
	color: $text;
	// .comfort__body
	&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	// .comfort__desc
	&__desc {
		font-style: italic;
		font-weight: 300;
		line-height: 1.4em;
		font-size: rem(24);
		font-family: $font-stix;
		letter-spacing: -0.03125rem;
		max-width: 59.275rem;
		margin: 0 auto;
	}
	// .comfort__title
	&__title {
		margin-top: 1.72rem;
	}
	// .comfort__image
	&__image {
		width: 100%;
		overflow: hidden;
		margin: 3rem 0 rem(-125) 0;

		transition-duration: 2s;
		transform: translate3d(-100%, 0, 0);
		text-align: center;
		&.is-visible {
			transform: translate3d(0, 0, 0);
		}
	}
}

.benefits {
	padding: rem(215) em(0) em(0) em(0);
	margin-bottom: 5rem;
	background: #192026;
	color: #ffffff;
	.row {
		--bs-gutter-x: #{rem(50)};
	}
	// .benefits__image
	&__image {
		margin-bottom: -5rem;
	}
	// .benefits__title
	&__title {
		max-width: rem(632);
		margin: 0 auto;
	}
	// .benefits__list
	&__list {
		margin-top: rem(130);
		.row {
			--bs-gutter-y: #{rem(90)};
		}
	}
	// .benefits__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1.5rem;
		&:not(:last-child, :nth-child(3)) {
			border-right: 1px dashed rgba(255, 255, 255, 0.25);
		}
	}
	// .benefits__item-icon
	&__item-icon {
		width: 3.75rem;
		height: 3.75rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: 100%;
		}
	}
	// .benefits__item-text
	&__item-text {
		text-align: center;
		font-family: $font-stix;
		font-size: 1rem;
		font-weight: 500;
		line-height: 180%;
		letter-spacing: -0.03125rem;
	}
}

.car-order {
	padding: 3.75rem 0 rem(140);
	.row {
		// --bs-gutter-x: #{rem(50)};
	}
	// .car-order__main
	&__main {
		padding-top: rem(130);
		padding-bottom: rem(60);
		max-width: rem(570);
		margin: 0 auto;
	}
	// .car-order__title
	&__title {
	}
	// .car-order__body
	&__body {
		margin-top: 1.97rem;
		color: #192026;
		font-size: 1rem;
		line-height: 1.7rem;
		& strong {
			white-space: nowrap;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: rem(6);
			}
		}
		& ul {
			padding-left: em(40);
			list-style: disc;
		}
	}
	// .car-order__form
	&__form {
		padding: rem(45) rem(45) rem(45);
		background: #f5f5f5;
		max-width: rem(500);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		.row {
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(20)};
		}
	}
}

.about {
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 216px;
	color: #fff;
	padding: rem(220) 0;
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: linear-gradient(rgba($color: #192026, $alpha: 0.75), rgba($color: #192026, $alpha: 0.75)),
			linear-gradient(rgba($color: #192026, $alpha: 0.75), rgba($color: #192026, $alpha: 0.75));
	}
	// .about__body
	&__body {
		max-width: rem(1182);
		margin-left: auto;
		margin-right: auto;
	}
	// .about__title
	&__title {
	}
	// .about__desc
	&__desc {
		margin-top: 2.5rem;
		font-family: $font-stix;
		font-size: 1.5rem;
		font-style: italic;
		line-height: 140%;
		letter-spacing: -0.03125rem;
	}
	// .about__btn
	&__btn {
		margin-top: 3.75rem;
	}
}

.banner {
	background-color: #d7b65d;
	// .banner__body
	&__body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .banner__title
	&__title {
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		justify-content: flex-end;
		padding: 75px 0 75px 0;
		width: 50%;
		padding-left: 25px;
		padding-right: 25px;
		font-family: $font-stix;
		letter-spacing: -0.03125rem;
		font-weight: 500;
	}
	// .banner__title-precent
	&__title-precent {
		margin-right: 48px;
		font-size: 6.25rem;

		line-height: 100%;
	}
	// .banner__title-text
	&__title-text {
		font-size: 1.5rem;
		line-height: 140%;
		letter-spacing: -0.03125rem;
		max-width: rem(420);
		& span {
			color: #fff;
		}
	}
	// .banner__image
	&__image {
		width: 50%;

		background-position: 66px -41px;
		background-repeat: no-repeat;
	}
}

.blog {
	padding: rem(130) 0 rem(140);
	// .blog__caption
	&__caption {
		margin-bottom: 0px;
		font-family: $font-taviraj;
		font-weight: 500;
		letter-spacing: -0.5px;
		font-style: italic;
		color: #d7b65d;
		font-size: 1.125rem;
		line-height: 140%;
	}
	// .blog__title
	&__title {
		position: relative;
		padding-bottom: rem(14);
		margin-bottom: 3.5rem;
		&::before {
			content: "";
			width: rem(70);
			position: absolute;
			bottom: 0;
			border-bottom: rem(2) solid #d7b65d;
			border-color: #d7b65d;
			left: 50%;
			transform: translateX(-50%);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 14.375rem;
			border-bottom: 2px solid rgba(0, 0, 0, 0.05);
			left: 50%;
			transform: translateX(-50%);
		}
	}
	// .blog__list
	&__list {
		--bs-gutter-x: 1.87rem;
		--bs-gutter-y: #{rem(70)};
	}
	// .blog__btn
	&__btn {
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		width: fit-content;
	}
	// .blog__item
	&__item {
		display: flex;
		flex-direction: column;
	}
	// .blog__item-header
	&__item-header {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	// .blog__item-image
	&__item-image {
		height: 0;
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 63%;
		overflow: hidden;
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.15);
				}
			}
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.4s;
		}
	}
	// .blog__item-time
	&__item-time {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		color: #192026;
		font-family: $font-stix;
		font-size: 0.875rem;
		letter-spacing: -0.03125rem;
		font-weight: 500;
		background-color: #d7b65d;
		padding: 14px 14px 8px;
		font-size: 14px;
		& span {
			font-size: 30px;
			margin-bottom: 0.25rem;
		}
	}
	// .blog__item-body
	&__item-body {
		margin-top: 1rem;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .blog__item-views
	&__item-views {
		display: flex;
		align-items: center;
		font-size: 0.75rem;
		gap: 0.5rem;
		&::before {
			color: $accent;
		}
	}
	// .blog__item-caption
	&__item-caption {
		margin-top: 0.75rem;
		font-family: $font-stix;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: -0.03125rem;
		transition: color 0.3s ease;
		& a {
			color: inherit;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .blog__item-link
	&__item-link {
	}
	// .blog__item-desc
	&__item-desc {
		line-height: 170%;
		opacity: 0.75;
	}
}

.blog {
	// .blog__pagination
	&__pagination {
		margin-top: rem(85);
	}
}
