<li class="blog__item">
    <div class="blog__item-header">
        <a href="" class="blog__item-image">
            <img src="@@image" class="cover-image" alt="Постер статьи">
        </a>
        <time datetime="@@datetime" class="blog__item-time">
            <span>@@day</span>
            @@time
        </time>
    </div>
    <div class="blog__item-body">
        <div class="blog__item-views icon-eye">@@views</div>
        <h3 class="blog__item-caption ">
            <a href="" class="blog__item-link">@@name</a>
        </h3>
        <p class="blog__item-desc">@@desc</p>
    </div>
</li>