<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="car">
        <a href="" class="car__image">
            <img src="@@image" alt="Фото машины">
        </a>
        <div class="car__body">
            <h5 class="car__name">
                <a href="" class="car__name-link">@@name</a>
            </h5>
            <ul class="car__props row">
                <li class="col-4">
                    <div class="car__props-column">
                        <div class="car__props-icon"></div>
                        <div class="car__props-value">@@salon</div>
                    </div>
                </li>
                <li class="col-4">
                    <div class="car__props-column">
                        <div class="car__props-icon"></div>
                        <div class="car__props-value">@@persons</div>
                    </div>
                </li>
                <li class="col-4">
                    <div class="car__props-column">
                        <div class="car__props-icon"></div>
                        <div class="car__props-value">@@places</div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="car__price">
            <li class="car__price-row">
                <div class="car__price-time">Почасовая аренда</div>
                <div class="car__price-value">@@price-per-hour</div>
            </li>
            <li class="car__price-row">
                <div class="car__price-time">Посуточная аренда</div>
                <div class="car__price-value">@@price-per-day</div>
            </li>
        </ul>
        <a href="" class="car__btn btn btn-primary">Рассчитать цену и заказать</a>
    </div>
</div>