.footer {
	background: url("@img/footer-map.png") center no-repeat, #192026;
	color: #fff;
	// .footer__body
	&__body {
		padding: 3.75rem 0 5.7rem;
	}
	// .footer__logo
	&__logo {
		max-width: rem(100);
		margin-left: auto;
		margin-right: auto;
		display: block;
		& img {
			width: 100%;
		}
	}
	// .footer__list
	&__list {
		display: grid;
		margin: 4.25rem auto 0;
		max-width: 64.49875rem;
		gap: 1.5rem;
		@media (min-width: $md3) {
			gap: 0;
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md1) {
			max-width: 79.89563rem;
		}
	}
	// .footer__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 1rem;
		&::before {
			font-size: 1.375rem;
			font-weight: 900;
			line-height: 110%;
			color: $accent;
			margin-bottom: 0.82rem;
			width: 1.375rem;
			height: 1.375rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.icon-envelope {
			&::before {
				font-size: 1rem;
			}
		}
		@media (min-width: $md3) {
			&:not(:last-child) {
				border-right: rem(1) dashed rgba(255, 255, 255, 0.2);
			}
		}
	}
	// .footer__link
	&__link {
		margin-top: 0.25rem;
		font-family: $font-stix;
		font-size: 1rem;
		font-weight: 500;
		line-height: 160%;
		letter-spacing: -0.03125rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .footer__item-hint
	&__item-hint {
		margin-top: 0.25rem;
		color: #d7b65d;
		font-family: $font-stix;
		font-size: 1rem;
		line-height: 160%;
		letter-spacing: -0.03125rem;
	}
	// .footer__address
	&__address {
		margin-top: 0.25rem;
		margin-bottom: 0;
		font-family: $font-stix;
		font-size: 1rem;
		font-weight: 500;
		line-height: 160%;
		letter-spacing: -0.03125rem;
	}
	// .footer__text
	&__text {
		@extend .footer__address;
	}
	// .footer__privacy
	&__privacy {
		background: rgba($color: #000000, $alpha: 0.15);
		text-align: center;
		padding: 2rem 0;
		line-height: 170%;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 0.875rem;
		}
	}
}
