.form {
	// .form__field
	&__field {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $accent;
			pointer-events: none;
			left: 1.5rem;
			z-index: 2;
		}
		.select2-container--default .select2-selection--single {
			padding-left: rem(58) !important;
		}
		.form__control {
			padding-left: rem(58) !important;
		}
	}
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border: rem(1) solid rgba(0, 0, 0, 0.1);
		background: #fff;
		padding: 1.56rem;
		border-radius: 0.25rem;
		color: $text;

		font-size: 1rem;

		&[type="time"] {
			&::-webkit-calendar-picker-indicator {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				color: $accent;
				left: 0.35rem;
				opacity: 0;
			}
		}

		&::placeholder {
			opacity: 1;
			color: #757575;
		}

		&:hover,
		&:focus {
			border-color: $accent;
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}

		&:is(textarea) {
			border-radius: 0.625rem;
			border: rem(1) solid #e2e5eb;
			resize: none;
			background: #fff;
			padding: rem(20);
			height: rem(166);
			@media (min-width: $md5) {
				height: rem(156);
				padding: rem(30);
			}
		}
	}
	// .form__control-date
	&__control-date {
	}
	// .form__btn
	&__btn {
		margin-top: rem(20);

		min-height: rem(66);
		font-size: 1rem;
		letter-spacing: normal;
	}
	// .form__options
	&__options {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		min-height: 100%;
		gap: 1rem;
	}
	// .form__option
	&__option {
	}
	// .form__option-input
	&__option-input {
		&:checked {
			& + .form__option-field {
				&::before {
					background: #d7b65d;
				}
			}
		}
	}
	// .form__option-field
	&__option-field {
		cursor: pointer;
		&::before {
			content: "";
			display: inline-block;
			width: rem(14);
			height: rem(14);
			border: rem(2) solid #fff;

			box-shadow: 0 0 0 rem(1) #d7b65d;
			background: #fff;
			background-color: rgb(255, 255, 255);
			margin-left: 4px;
			margin-right: 0.5rem;
			border-radius: 100%;

			transform: translateY(2px);
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.2s ease;

	font-family: $font-stix;
	border: 0;
	border-radius: 0;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 194.286%;

	padding: rem(12) rem(38);
	gap: 0.46rem;

	&::before {
		order: 1;
		font-size: rem(10);
		transition: transform 0.2s ease;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		transition: width 0.25s ease;
		z-index: -1;
	}

	&.btn-primary {
		background: #d7b65d;
		color: #192026;
		&::after {
			background-color: #192026;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&::before {
					transform: translate(rem(6));
				}
				&::after {
					width: 100%;
				}
			}
		}
	}

	&.btn-secondary {
		border: rem(1) solid #fff;
		color: #fff;
		background: transparent;
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #0f141e;
			}
		}
	}

	&.btn-black {
		background: #0f141e;
		color: #fff;
		&::after {
			background-color: #d7b65d;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&::before {
					transform: translate(rem(6));
				}
				&::after {
					width: 100%;
				}
			}
		}
	}

	&.btn-fullwidth {
		width: 100%;
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

// .switcher {
// 	// .switcher__input
// 	&__input {
// 		&:checked {
// 			& + .switcher__btn {
// 				&::before {
// 					left: rem(2);
// 				}
// 				background: #81a6ca;
// 			}
// 		}
// 	}
// 	// .switcher__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(35);
// 		height: rem(20);
// 		border-radius: 6.25rem;
// 		background: #81a6ca;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(17);
// 			width: rem(16);
// 			transition: left 0.3s ease 0s;
// 			border-radius: 50%;
// 			background: #fff;
// 			height: calc(100% - rem(4));
// 		}
// 	}
// }

/* Select2 */
.select2-container--default .select2-selection--single .select2-selection__clear {
	display: none;
}

.select2-search--dropdown {
	display: none;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
}

.lte-background-black .select2-container--default .select2-results > .select2-results__options {
	color: #192026;
	color: var(--black);
}

.lte-background-black .select2-container--default .select2-search--dropdown .select2-search__field {
	color: #192026;
	color: var(--black);
}

.select2-container .select2-selection--single {
	text-align: start;
	padding: 20px 25px 12px 25px;
	font-size: 16px;
	height: 69px !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 0 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-clip: border-box;
	font-family: "Mulish", sans-serif;
	font-family: var(--font-main), sans-serif;
	letter-spacing: var(--font-main-letterspacing);
	font-weight: 400;
}

.lte-background-black .select2-container .select2-selection--single {
	border-color: rgba(255, 255, 255, 0.2);
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 19px !important;
	right: 16px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
	right: auto !important;
	left: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
	@extend %ic, .icon-down;
	opacity: 0.5;

	font-size: 0.5rem;
}

.lte-background-black .select2-container--default .select2-selection--single .select2-selection__arrow:before {
	color: #ffffff;
	color: var(--white);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: #d7b65d;
}

.select2-results__option {
	line-height: math.div(27, 16);
}

// datepicker
html .datepicker__header {
	background-color: #d7b65d;
}

html .datepicker table th {
	color: #d7b65d;
}

html .datepicker__wrapper {
	border-color: #d7b65d;
}

html .datepicker__day.is-today {
	color: #d7b65d;
}

html .datepicker__day.is-disabled,
html .datepicker__day.is-otherMonth {
	color: #d7b65d;
}
