// .form {
// 	// .form__control
// 	&__control {
// 		text-overflow: ellipsis;
// 		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
// 		width: 100%;
// 		background: #f7f8f8;
// 		border: rem(1) solid #f7f8f8;
// 		color: #0f141e;
// 		padding: 0.9rem rem(20);

// 		border-radius: rem(6);
// 		font-size: 0.875rem;
// 		line-height: 150%;
// 		&::placeholder {
// 			opacity: 0.3;
// 			color: currentColor;
// 		}

// 		&:hover,
// 		&:focus {
// 			border-color: $accent;
// 		}

// 		&:disabled {
// 			background: #ddd;
// 			border-color: #ddd;
// 		}
// 		&._error {
// 			outline: 1px solid #ba2028;
// 			background: #fff1ed;
// 		}

// 		&:is(textarea) {
// 			border-radius: 0.625rem;
// 			border: rem(1) solid #e2e5eb;
// 			resize: none;
// 			background: #fff;
// 			padding: rem(20);
// 			height: rem(166);
// 			@media (min-width: $md5) {
// 				height: rem(156);
// 				padding: rem(30);
// 			}
// 		}
// 	}

// 	// .form__checkbox
// 	&__checkbox {
// 		margin-top: 0.5rem;
// 		display: block;
// 	}
// 	// .form__checkbox-input
// 	&__checkbox-input {
// 		&:checked {
// 			& + .form__checkbox-text {
// 				&::before {
// 					background: #9335ff;
// 					border-color: #9335ff;
// 					@extend %ic, .icon-check;
// 				}
// 			}
// 		}
// 		&.error {
// 			& + .form__checkbox-text {
// 				&::before {
// 					border: rem(1) solid red;
// 				}
// 			}
// 		}
// 	}
// 	// .form__checkbox-text
// 	&__checkbox-text {
// 		position: relative;
// 		display: block;
// 		width: fit-content;
// 		color: rgba(15, 20, 30, 0.3);
// 		line-height: 150%;
// 		font-weight: 500;
// 		padding: 0 0 0 1.25rem;
// 		cursor: pointer;
// 		user-select: none;
// 		font-size: 0.75rem;
// 		@media (min-width: $md3) {
// 			font-size: 0.875rem;
// 		}
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: 50%;
// 			transform: translateY(-50%);
// 			left: 0;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			border-radius: 0.1875rem;
// 			border: rem(1) solid #0f141e;
// 			color: #fff;

// 			width: rem(15);
// 			height: rem(15);
// 			font-size: 0.75rem;

// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 		}
// 		& a {
// 			text-decoration: underline;
// 			color: #9335ff;
// 			@media (any-hover: hover) {
// 				&:hover {
// 					text-decoration: none;
// 				}
// 			}
// 		}
// 	}
// 	// .form__btn
// 	&__btn {
// 		margin-top: 0.5rem;
// 		width: 100%;
// 	}
// 	&__success {
// 		margin-top: rem(30);
// 		background: #60cc3b;
// 		border-radius: rem(6);
// 		padding: rem(82) rem(20);
// 		color: #fff;
// 		text-align: center;
// 		font-family: $font-involve;
// 		font-size: 1.375rem;
// 		font-weight: 500;
// 		line-height: 125%;
// 		letter-spacing: -0.0625rem;
// 	}
// }

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.2s ease;

	font-family: $font-stix;
	border: 0;
	border-radius: 0;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 194.286%;

	padding: rem(12) rem(38);
	gap: 0.46rem;

	&::before {
		order: 1;
		font-size: rem(10);
		transition: transform 0.2s ease;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		transition: width 0.25s ease;
		z-index: -1;
	}

	&.btn-primary {
		background: #d7b65d;
		color: #192026;
		&::after {
			background-color: #192026;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&::before {
					transform: translate(rem(6));
				}
				&::after {
					width: 100%;
				}
			}
		}
	}

	&.btn-secondary {
		border: rem(1) solid #fff;
		color: #fff;
		background: transparent;
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #0f141e;
			}
		}
	}

	&.btn-black {
		background: #0f141e;
		color: #fff;
	}

	&.btn-fullwidth {
		width: 100%;
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

// .switcher {
// 	// .switcher__input
// 	&__input {
// 		&:checked {
// 			& + .switcher__btn {
// 				&::before {
// 					left: rem(2);
// 				}
// 				background: #81a6ca;
// 			}
// 		}
// 	}
// 	// .switcher__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(35);
// 		height: rem(20);
// 		border-radius: 6.25rem;
// 		background: #81a6ca;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(17);
// 			width: rem(16);
// 			transition: left 0.3s ease 0s;
// 			border-radius: 50%;
// 			background: #fff;
// 			height: calc(100% - rem(4));
// 		}
// 	}
// }
