.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6;
	color: #fff;
	// .header__top
	&__top {
		background-color: #000;
		text-align: center;
		padding: rem(8) 0;
		position: relative;
		z-index: 3;
		@media (min-width: $md1) {
			display: none;
		}
	}
	// .header__top-phone
	&__top-phone {
		display: inline-flex;
		align-items: center;
		gap: rem(10);
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__body
	&__body {
		display: flex;
		align-items: center;
		border-bottom: rem(2) dashed rgba($color: #ffffff, $alpha: 0.2);
		justify-content: space-between;
		padding: rem(25) 0;
		@media (min-width: $md1) {
			padding: 2.5rem 0;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 3;
	}
	// .header__menu
	&__menu {
	}
	// .header__phone
	&__phone {
		order: 1;
		@media (min-width: $md1) {
			order: 0;
			position: relative;
			padding-left: rem(50);

			white-space: nowrap;
		}

		&::before {
			font-size: 2.5rem;
			color: #d7b65d;
			@media (min-width: $md1) {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				& span {
					color: #fff;
				}
			}
		}
	}
	// .header__phone-column
	&__phone-column {
		display: none;
		@media (min-width: $md1) {
			display: flex;
			flex-direction: column;
			font-family: $font-stix;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 151.111%;
			letter-spacing: -0.03125rem;
			& span {
				color: #d7b65d;
				font-size: 0.875rem;
				font-weight: 500;
				letter-spacing: -0.03125rem;
				transition: color 0.3s ease;
			}
		}
	}
	// .header__actions
	&__actions {
		order: -1;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		@media (min-width: $md1) {
			gap: 2rem;
			margin-left: 3rem;
			order: 0;
		}
	}
	// .header__action
	&__action {
		display: none;
		@media (min-width: $md1) {
			font-size: 1rem;
			line-height: 170%;
			display: flex;
			align-items: center;
			gap: 0.42438rem;
			color: #d7b65d;

			font-family: $font-stix;
			font-size: 0.875rem;
			font-weight: 500;
			letter-spacing: -0.03125rem;
			&::before {
				font-size: 1.25rem;
				color: #fff;
			}
		}
	}
	// .header__languages
	&__languages {
		position: relative;
		font-size: 1rem;
		line-height: 170%;
	}
	// .header__languages-list
	&__languages-list {
		position: absolute;
		right: 0;
		top: 100%;
		display: none;
		&.active {
			display: block;
		}
	}
	// .header__languages-item
	&__languages-item {
	}
	// .header__languages-link
	&__languages-link {
		color: #fff;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.menu {
	@media (max-width: $md1) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #192026;
		display: none;
		z-index: 2;
		padding: $header rem(20);
		overflow-x: hidden;
		overflow-y: auto;
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: $header;
			background: #192026;
			z-index: 2;
		}
		.header.open-menu & {
			display: block;
		}
	}
	@media (min-width: $md1) {
		flex: 1 1 auto;
		z-index: 3;
	}
	// .menu__list
	&__list {
		display: flex;

		flex-direction: column;
		gap: rem(10);
		@media (min-width: $md1) {
			gap: rem(6);
			text-transform: uppercase;
			justify-content: center;
			align-items: center;
			flex-direction: row;
		}
	}
	// .menu__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.submenu {
					opacity: 1;
					transform: translateY(0);
					visibility: visible;
					z-index: 100;
					pointer-events: auto;
				}
			}
		}
	}
	// .menu__link
	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(6);
		transition: color 0.3s ease;
		font-size: 1.25rem;
		&.icon-chevron {
			&::after {
				content: "+";
				font-size: 2.125rem;
				@media (min-width: $md1) {
					display: none;
				}
			}
		}
		&::before {
			display: none;
			@media (min-width: $md1) {
				display: block;
				order: 1;
				color: $accent;
				font-size: rem(10);
			}
		}
		@media (min-width: $md1) {
			font-size: 0.75rem;
			padding: rem(15) rem(10);
		}
		@media (min-width: $md0) {
			padding: rem(15) rem(20);
		}
		&.active {
			color: $accent;
			&.icon-chevron {
				&::after {
					content: "–";
				}
			}
		}
		&:hover {
			color: $accent;
		}
	}
	// .menu__actions
	&__actions {
		display: flex;
		justify-content: space-between;
		max-width: rem(420);
		margin: rem(30) auto 0;
		@media (min-width: $md1) {
			display: none;
		}
	}
	// .menu__action
	&__action {
		font-size: 1rem;
		line-height: 170%;
		display: flex;
		align-items: center;
		gap: 0.42438rem;
		color: #fff;
		font-family: $font-stix;

		font-weight: 500;
		letter-spacing: -0.03125rem;
		&::before {
			font-size: 1.5rem;
			color: #d7b65d;
		}
	}
}

.submenu {
	display: none;
	&.active {
		display: block;
		opacity: 1;
		visibility: visible;
		transform: none;
		pointer-events: all;
	}
	@media (min-width: $md1) {
		transition: all 0.3s linear;
		width: rem(250);
		padding: rem(8) 0;
		margin-left: rem(-75);
		display: block;
		opacity: 0;
		position: absolute;
		transform: translateY(10%);
		z-index: 0;
		visibility: hidden;
		pointer-events: none;
		text-align: left;
		border-radius: 0px;
		background-clip: border-box;
		box-shadow: 0 0px rem(3) rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		color: #192026;
	}

	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		display: block;
		line-height: math.div(27, 14);
		position: relative;
		text-transform: none;
		transition: color 0.2s ease, background-color 0.2s ease;
		color: inherit;
		border-radius: 0;
		min-height: rem(40);
		font-size: 1rem;
		@media (max-width: $md1) {
			&::before {
				content: "-";
				color: $accent;
				margin-right: 0.5rem;
			}
		}
		@media (min-width: $md1) {
			margin: 0 rem(10);
			font-size: rem(14);
			padding: rem(4) rem(18) rem(8) rem(18);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d7b65d;
				color: #192026;
			}
		}
		&.active {
			color: #d7b65d;
			pointer-events: none;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	z-index: 3;

	width: rem(40);
	height: rem(40);

	@media (min-width: $md1) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(4) rem(0);
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: rem(24);
			margin-left: auto;
			margin-right: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(10));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-10));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
