%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
.icon-envelope:before {
	content: "\e90e";
}
.icon-phone:before {
	content: "\e90f";
}
.icon-clock:before {
	content: "\e90c";
}
.icon-calendar:before {
	content: "\e906";
}
.icon-car:before {
	content: "\e907";
}
.icon-down:before {
	content: "\e908";
}
.icon-location:before {
	content: "\e909";
}
.icon-person:before {
	content: "\e90a";
}
.icon-users:before {
	content: "\e90b";
}
.icon-right:before {
	content: "\e905";
}
.icon-double-arrow:before {
	content: "\e904";
}
.icon-eye:before {
	content: "\e90d";
}
.icon-chevron:before {
	content: "\e900";
}
.icon-shopping-cart:before {
	content: "\e901";
}
.icon-user:before {
	content: "\e902";
}
.icon-whatsapp:before {
	content: "\e903";
}
