// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset";
// &display=swap&subset=cyrillic-ext
@import "fonts";
@import "icons";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Mulish";
$font-stix: "STIXTwoText";
$font-taviraj: "Taviraj";

// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1469.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1160); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #192026;

$accent: #d7b65d;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$header: var(--header-height, #{rem(182)});

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	color: $text;
	overflow-x: hidden;
	&.lock-menu {
		overflow: hidden;
		@media (min-width: $md1) {
			overflow: visible;
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
.container {
	@media (min-width: $md2) {
		max-width: 1220px;
	}
	@media (min-width: $md0) {
		max-width: 1540px;
	}
	@media (max-width: $md0) {
		@media (min-width: $md1) {
			max-width: 1400px;
		}
	}
}

.container-sm {
	@media (min-width: $md2) {
		max-width: 1046px;
	}
}
.container-md {
	@media (min-width: $md2) {
		max-width: 1146px;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
// @import "grid";
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}
// ========================================================

// @import "./old";
@import "./pages/home";
@import "./pages/service";
@import "./pages/about";
@import "./pages/article";
